.navbar{
    color: white;
    padding-top: 50px;
    width: 100%;
}
.nav-link {
    color: white; 
}
.link{
    color: white;
}
.nav-link:hover {
    color: white;
}
.toggle{
    background-color: aliceblue;
    border-radius: 10px;
}

@media(max-width: 500px){
    .navbar{
        border: 2px solid black;
    }
}
.custom-nav {
    display: flex;
    flex-direction: row;
    padding-left: 1%;
    padding-right: 2%
}