.navbar{
    background-color: #505256;
    color: white;
    padding-top: 50px;
}
.link{
    color: white;
}
.toggle{
    background-color: aliceblue;
    border-radius: 10px;
}

@media(max-width: 500px){
    .navbar{
        border: 2px solid black;
    }
}