.item {
    padding: 20px;
    margin: 10px;
    background: inherit;
    color: white;
}
img.itemImg{
    width: 100px;
    height: 150px;
}
li.item{
   
    border-bottom: 1px solid #ccc;
}
.info{
    text-align: left;
    font-size: 20px;
}
.img{
    text-align: left;
}