.container-side-bar {
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    flex: 0.4;
    align-self: flex-start;
    height: 100vh;
    justify-content: space-between;
}

.side-bar-footer {
    display: flex;
    flex-direction: column;
    height: 30vh;
}

.side-bar-header {
    display: flex;
    flex-direction: column;
    height: 30vh;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-style: inset;
    border-width: 0.5px;
    width: 75%;
    color: #EAEAEA
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90%;
    height: 60%;
    color: #EAEAEA;
    align-items: center;
    justify-content: center
}

.header-content {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90%;
    height: 40%;
    color: #EAEAEA;
    align-items: center;
    justify-content: center
}

.footer-content-text {
    color: #EAEAEA;
    font: 0.9em sans-serif;
    margin: 2%
}

.footer-icons {
    display: flex;
    flex-direction: row;
    width: 70%;
    align-self: center;
    justify-content: space-around;
}

FontAwesome {
    cursor: pointer;
}