.container-side-bar {
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    flex: 0.4;
    align-self: flex-start;
    height: 100vh;
    justify-content: space-between;
}
.side-bar-footer {
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    height: 30vh;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-style: inset;
    border-width: 1.5px;
    width: 70%;
    color: #EAEAEA
}
.footer-content {
    display: flex;
    background-color: chocolate;
    flex-direction: column;
    align-self: center;
    margin-top: 5%;
    width: 80%;
    height: 85%;
    color: #EAEAEA;
    align-items: center;
    justify-content: center
}
.footer-content-text {
    color: #EAEAEA;
    font: 0.9em sans-serif;
    margin: 2%
}