.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: large;
    color: #EAEAEA;
    font:  sans-serif;
    margin: 2%;
    align-self: center;
}
.dropdown-title {
    display: flex;
    width: 95%;
    justify-content: space-between;
    flex-direction: row;
    align-self: center;
    font-size: medium;
    color: #EAEAEA;
    align-self: center;
}
.form-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 30vh;
}
.custom-dropdown {
  display: flex;
  width: 100%;
}
.dropdown-menu {
    background-color: #4f4f4f;
    width: 100%; 
}
.dropdown-menu :hover {
    background-color: #3d3c3c;
    border: 0.5px solid #5b94ff;
    color: #EAEAEA;
    /* width: 100%;  */
    align-items: center;
}
.dropdown-item {
    color: #EAEAEA;
    align-self: center;
}
.dropdown-item :hover{
    color: #EAEAEA;
}
.arrow {
    font-size:24px
}
button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 2px solid #EAEAEA;;
    cursor:pointer;
    overflow: hidden;
    padding: 3% 5%;
    outline:none;
}
.submit-button {
    background-color: #EAEAEA;
    background-repeat:no-repeat;
    border: 2px solid #EAEAEA;;
    cursor:pointer;
    overflow: hidden;
    padding: 3% 5%;
    outline:none;
    width: 100%
}
.input {
    background-color: Transparent;
    background-repeat:no-repeat;
    color: #EAEAEA;
    border: 2px solid #EAEAEA;;
    cursor:pointer;
    overflow: hidden;
    padding: 3% 5%;
    outline:none;
}