.restaurant-container {
    display: flex;
    background-color: brown;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.content {
    display: flex;
    background-color: #1e1e1e; 
    width: 50%;
}